<% if RedmineupTags.tag_list_view != :none %>
  <% clouds = @project ? @project.tag_clouds.unscoped.order(:position, :id).to_a : [] %>
  <% system_cloud = clouds.detect(&:is_system?) %>

  <% if system_cloud.nil? || system_cloud.visible_for?(User.current) %>
    <div class="sidebar-tag-cloud sidebar-tag-cloud-system">
      <h3><%= system_cloud&.name || l(:tags) %></h3>
      <%= render_sidebar_tags if defined?(render_sidebar_tags) %>
    </div>
  <% end %>

  <% clouds.reject(&:is_system?).each do |cloud| %>
    <% next unless cloud.visible_for?(User.current) %>
    <div class="sidebar-tag-cloud" data-tag-cloud-id="<%= cloud.id %>">
      <h3><%= h(cloud.name) %></h3>
      <%= render_tag_cloud(cloud) %>
      <% if User.current.allowed_to?(:select_tag_clouds, @project) %>
        <p class="small">
          <%= link_to l(:button_hide),
                      toggle_project_tag_cloud_preference_path(@project, cloud),
                      method: :post,
                      class: 'icon icon-close' %>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>
